<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  
  <ng-container *ngIf="isLoggedIn$ | async">
    <button mat-raised-button color="primary" routerLink="/create-post">
      <mat-icon>add</mat-icon>
      Create Post
    </button>
    <button mat-raised-button color="primary" routerLink="/view-all">
      <mat-icon>list</mat-icon>
      View All
    </button>
    <button mat-raised-button color="primary" routerLink="/search-by-name">
      <mat-icon>search</mat-icon>
      Search
    </button>
    <button mat-raised-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>